<div class="d-block">
    <table class="table table-striped">
        <thead class="sticky-top bg-light">
            <tr>
            <th scope="col">#</th>
            <th scope="col" style="max-width: 150px; min-width: 150px;">Name</th>
            <th scope="col" class="text-center">Quantité</th>
            <th scope="col" class="text-center">Prix Unitaire</th>
            <th scope="col" class="text-center">Prix Total</th>
            {{#if displayActions}}
                <th scope="col"  style="min-width: 40px;"></th>
            {{/if}}
            </tr>
        </thead>
        <tbody>
            {{#each order.products}}
            <tr> 
                    <th scope="row">{{math @index "+" 1}}</th>
                    <td class="text-truncate" style="max-width: 150px; min-width: 150px;">{{this.name}}</td>
                    <td class="text-center">{{this.quantity}}</td>
                    <td class="text-center">{{this.price}}</td>
                    <td class="text-center">{{priceFixed this.total_price}} <i class="fas fa-euro-sign"></i></td>
                    {{#if ../this.displayActions}}
                    <td class="text-center panel-order-items-delete"  role="button" product-id="{{this.id}}"><i class='far fa-square-minus'></i></td>
                    {{/if}}
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div class="sticky-bottom d-flex flex-grow-1 justify-content-end flex-column">
    <table class="table table-striped m-0">
        <thead class="bg-light">
            <tr>
                <th scope="col">Total : </th>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-center">{{priceFixed order.total_price}} <i class="fas fa-euro-sign"></i></td>
            </tr>
        </thead>
    </table>
</div>